* {
  margin: 0;
  padding: 0;
}
.Header {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(images/homePage.jpg);
}
h2{
    color:aqua;
    font-style:inherit;
    padding-left: 10px;
}

.logo img {
  min-height: 10px;
  max-width: 30px;
  border-radius: 50%;
  padding-left: 8px;
}
nav {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(15, 14, 14);
  position: top;
}

/* Navigation links*/
/*start...*/
.navlinks {
  flex: 1;
  text-align: right;
}
.navlinks ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 25px;
}

.navlinks a {
  text-decoration: none;
  color: aquamarine;
  font-size: large;
}
/*end..*/